table,
th,
tr,
td {
  border: 1px solid black;
}
th,
tr,
td {
  width: 30vh;
}

form {
  border: 1px solid black;
  height: auto;
  width: max-content;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.form-box {
  display: flex;
  gap: 30px;
}
.input-form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
